.cajas {
    width: 915px;
    display: block;
    margin: 0 auto;
    
}
.caja1, .caja2, .caja3 {
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid  ;
}
.caja1 {
    background-color: cadetblue;
}
.caja2 {
    background-color: darkgoldenrod;
}
.caja3 {
    background-color: rgb(221, 179, 179);
}
.box {
    width: 309px;
    display: block;
    margin: 0 auto;
    
}
.box1 {
    background-color: darkkhaki;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid;
}
.contenedores {
    width: 620px;
    display: block;
    margin: 0 auto;
}
.contenedor1 {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: blueviolet;
    border-radius: 5px;
    border: 1px solid;
}
.contenedor2 {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: coral;
    border-radius: 5px;
    border: 1px solid;
}
p {
    color: rgb(2, 2, 2);
    text-align: center;
   font-style: italic;
    font-size: 30px;
    
}