h1 {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: brown;
}
h2 {
    font-style: italic;
    font-size: 35px;
    color: rgb(136, 84, 66);
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 10px;
   /*  height: 800px; */
    width: 90%;
    max-width: 1000px;
    border: 5px solid rgb(77, 125, 197);
    margin: 0 auto;
    text-align: center;
   font-size: 1em;
    box-shadow: 2px 2px 15px cadetblue;
     /* alineacion horizontal  */
    /*  justify-items: start; */
     /* justify-items: end; */
      /*  justify-items: center; */
        justify-items: stretch; 
    /*  alineacion vertical */
   /*   align-items: start; */
     align-items: center;
}
.dia {
    /* grid-column-start: 4; */
   /*  grid-column-end: 5; */
    background-color: rgb(148, 217, 219);
}

.contenedor > div {

    display: block;
    padding: 20px;
    /* height: 100px; */
    max-width: 1000px;
    /* background-color: rgb(190, 207, 221); */
    box-shadow: 1px 1px 5px rgb(125, 150, 187);
    /* justify-content: center; */
    /* align-items: center; */
}
